.about-style-3 {
    .style3 {
        margin-bottom: 80px;
        .sppb-addon {
            padding: 0;
        }
    }
    .style4 {
        margin: 70px 0 100px 0;
        .sppb-addon {
            padding: 0;
        }
    }
}