.box-banner{
    font-family: "Montserrat";
      .title{
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 400;
      line-height: 23px;
      padding-top: 0px;

    }
    .title-one{
      font-weight: 500;
      line-height: 22px;
      padding-top: 20px;
      margin-bottom: 18px;
      font-size: 23px;
    }
    p {
      border-bottom: 1px #727272 dotted;
      padding-bottom: 60px;
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 3rem;
      color: #727272;
    }
    .collumn-addon {
        width: 95%;
    }
  }