.style7 {
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url("/images/img-about-style2/206.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    color: #fff;
    .sppd-content {
        .ce-title-line {
            width: 12%;
            height: 2px;
            background-color: #fccb06;
            margin: 0 auto 15px 0;
        }
        .sppd-text {
            margin: 35px 0;
            .text-a {
                font-size: 19px;
                line-height: 21px;
                margin-bottom: 14px;
                font-style: normal;
            }
        }
        .sppd-progress {
            margin-bottom: 20px;
            .progress-label {
                display: block;
                line-height: 23px;
                margin-bottom: 10px;
                position: relative;
                font-weight: 400;
                letter-spacing: 1px;
                color: #fff;
                border-radius: 0px;
                box-shadow: none;
                text-transform: uppercase;
            }
            .progress {
                height: 10px;
                background-color: #fff;
                border-radius: 0;

                &-bar {
                    background-color: #101010;
                    line-height: 10px;
                    transition: width 30s;
                }
                .bar1 {
                    width: 80%;
                }
                .bar2 {
                    width: 90%;
                }
                .bar3 {
                    width: 70%;
                }
                .bar4 {
                    width: 75%;
                }
            }
        }
    }
}