.style8{
    .emp-title {
        margin-bottom: 3px;
        color: #888;
        font-weight: 400;
        line-height: 40px;
    }
    .ce-title-line {
        width: 12%;
        height: 2px;
        background-color: #fccb06;
        margin: 15px auto 0 auto;
    }
    .ce-sub-text {
        width: 48%;
        margin: 15px auto 0 auto;

        font-family: "Raleway", sans-serif;
        font-size: 16px;
    }
}