.other-careers {
    margin-top: 50px;
    padding: 30px 0 0 0;
    border: 0px solid #f1f1f1;
    background-color: #fff;
    .caress-title{
        text-transform: uppercase;
        margin-bottom: 41px;
        font-size: 22px;
        line-height: 25px;
        
        font-style: normal;
        
    }
    .tab-carees {
        padding: 0;
        border: 0px solid red;
        list-style: none;
        .clearfix-carees {
            border-left: 0px solid #ebebeb;
            margin: 0;
            text-align: left;
            line-height: 50px;
            display: inline-block;
            padding: 0;
            width: 180px;
            border-right: 0px solid #ebebeb;
            border-top: 0px solid #ebebeb;
            border-bottom: 0px solid #ebebeb;
            background-color: transparent;
            .carees-page {
                border: 1px solid #ebebeb;
                padding: 20px;
                color: #fff;
                background-color: #101010;
                border-bottom-color: transparent;
                cursor: default;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .carees-page1 {
                border: 1px solid #948d8d;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 30px;
                padding-right: 30px;
                color: #000;
                text-transform: uppercase;
                cursor: default;
                margin-bottom: 10px;
                &:hover {
                    color: #fff;
                    background-color: #101010;
                }
            }
        }
    }
    .careers-offcanvas {
        .careers-list {
            text-transform: uppercase;
            margin-top: 45px;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 17px;
            font-style: normal;
        }
        .list-cmt {
            margin: 0 0 10px;
            color: #a59d9d;
        }
    }
    .listicon-careers {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        .icon-dank {
            width: 20px;
            height: 18px;
            padding: 0px;
            margin: 3px 0px 0px 0px;
            float: left;
            font-size: 14px;
            text-align: center;
            line-height: 15px;
            border-radius: 100%;
        }
        .careers-text {
            padding: 0px 0 0 30px;
            margin: 0px;
            display: block;
            color: #a59d9d;
        }
    }
}
