.mule{
    background-image: url('/images/157Left.png');
    width: auto;
    height:600px;
    background-size: cover;
    background-position: 50% 50%;
    .coyote{
           padding-top: 20px;
        &:hover{
                .skunk{
                    color: #fff;
                    background: #fccb06;
                    .read{
                            color: #fff!important;
                    }                               
                }
                .gorilla{
                    .polar{
                            transform: scale(1.2);
                    }                     
                }
                
            }
            .polar{
                    max-width: 100%;
                    height: auto;                      
            }
            .gorilla{
                    overflow: hidden;
                    
                    .polar{
                            transform: scale(1);
                            overflow: hidden;
                            transition: 0.4s;
                    }                       
            }
            .skunk{
                    transition: 0.5s;
                    background: #fff;
                    text-align: center;
                    position: relative;
                    width: 90%;
                    padding: 40px 36px;
                    z-index: 2;
                    top: -50px;
                    left: 5%;
                    transition: all 0.3s ease-out 0s; 
                    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
                    .cheetah{
                            font-size: 22px;
                            line-height: 25px;
                            margin-bottom: 18px;
                            font-style: normal;
                            font-family: 'Montserrat', sans-serif;
                           
                           
                    }
                    
                    .chameleon{
                            .crocodile{
                                    margin: 0 0 10px;
                                 
                            }   
                            .read{
                                    color: #fccb06;
                            }
                    }
                    
            }
        
            
           
    }
}