.container {
    max-width: 1170px;
    margin: 0 auto;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    textarea:focus {
        outline: 0;
    }
    button:focus {
        outline: 0;
    }
    input:focus {
        outline: 0;
    }
    .padding {
        padding: 0!important;
    }
    img {
        width: 100%;
        overflow: hidden;
    }
    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
    .clearfix { display: inline-block; }
    /* start commented backslash hack \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    /* close commented backslash hack */
    .box-image {
        float: left;
        overflow: hidden;
        .imgAbout {
            width: 100%;
        }
    }
}