$dark : #000;
$white : #fff;
$background: #fccb06;

@mixin font($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

.md9-home {
    background-image: url('/images/185.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    .addon-content {
      .infor {
        text-align: left;
        width: 600px;
        padding-top: 200px;
        .sub-title {
          margin-bottom: 3px;
          line-height: 40px;
          color: #c7c7c7;
          font-weight: 400;
          font-size: 18px;
        }
        .main-title {
          margin-bottom: 3px;
          font-weight: 600;
          line-height: 50px;
          color: #fff;
          font-size: 35px;
        }
        .yellow {
          width: 12%;
          height: 2px;
          background-color: #fccb06;
          margin: 15px 88% 0 auto;
        }
      }
      .box-content {
        margin-top: 50px;
        .style {
          background-color: #fff!important;
          color: $dark!important;
        }
        .box {
          &:hover {
            background-color: #fff;
            color: $dark;
          }
          width: 350px;
          height: 185px;
          padding: 40px;
          background-color: #202020;
          color: #747474;
          margin-top: 50px;
          display: inline-block;
          margin-right: 50px;
          transition: 0.5s;
          .icon {
            float: left;
            margin: -15px 20px 0px 0px;
            font-size: 40px;
          }
          .tex {
            overflow: hidden;
            padding-right: 10px;
            margin-left: 85px;
            margin-top: 10px;
            .name {
              font-weight: 500;
              font-size: 21px;
              line-height: 23px;
              margin-bottom: 16px;
              font-style: normal;
            }
          }
        }
      }
    }
  }
  